
<html>
    <head>
        <title>Greetings</title>
        <meta http-equiv="refresh" content="5">
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}
            <h1>Dashboard</h1>
            <div class="home">

                <div class="temperature">
                    <h1> Temperature: </h1>
                    <p>{{ temperature }}</p>
                </div>

                <div class="humidity">
                    <h1> Humidity: </h1>
                    <p>{{ humidity }}</p>
                </div>
                
                <div class="light">
                    <h1> Light: </h1>
                    <p>{{ light }}</p>
                </div>

               

            </div>
            
            
            
        {% endblock %}
    </body>
</html>

